@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');


@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}

@mixin for-phone-portrait-only {
  @media (max-width:414px) { @content; }
}

@mixin for-phone-landscape-only {
  @media (min-width:321px) and
  (max-width: 599px) { @content; }
}

@mixin for-in-between-phone-and-tablet {
  @media (min-width:600px) and
  (max-width:767px) { @content; }
}

@mixin for-tablet-portrait-up {
  @media (min-width: 768px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

@mixin backgroundShorthand($imgpath,$position:left top,$repeat: no-repeat) {
  background: transparent url(#{$imgpath}) $repeat $position;
  background-size:100% auto;
}

$blue: #0d3373;
$brightblue: #4080EA;
$darkblue: #000d47;
$darkblue2: #0b2d66;
$lightblue: #485ca2;
$lightestblue: #B3CCF7;
$yellow: #fff200;
$darkyellow: #c7c000;
$lightyellow: #ffff57;

$bigtext: 1.25em;

body{
  position:relative;
  height: auto;
  width: 100%;
  padding-bottom:150px;
  background: $blue url(/files/images/bg_page.jpg) center -14px repeat-x;
  //background-color: $blue !important;
  color: #fff !important;

  &.inside.map{
    padding-bottom: auto !important;
    min-height:100%;
  }
}

html{
  height: 100%;
  width: 100%;
}

#main .row {
  margin-bottom: 20px;
}


.dark-blue {
  background-color: $darkblue2;
}

.white-text {
  color: #fff !important;
}

.odometer {
  font-size: 3em;
  font-weight: 700;
  color: $yellow;
  @include for-tablet-landscape-up {
    font-size: 5em;
  }
}

.stats h2 {
  color: #fff !important;
  font-weight: bold;
  @include for-tablet-portrait-up {
    font-size: 26px;
  }
  @include for-desktop-up {
    font-size: 2em;
  }
}

.stats {
  padding: 10px 0px 10px 0px;
}

.navbar-brand > img {
  max-height: 24px;
}

#contact-us {
  padding:30px;
  background-color: $blue;
}

.btn-custom {
  border:1px solid $brightblue;
  background-color: $blue; background-image: -webkit-gradient(linear, left top, left bottom, from($blue), to($darkblue));
  background-image: -webkit-linear-gradient(top, $blue, $darkblue);
  background-image: -moz-linear-gradient(top, $blue, $darkblue);
  background-image: -ms-linear-gradient(top, $blue, $darkblue);
  background-image: -o-linear-gradient(top, $blue, $darkblue);
  background-image: linear-gradient(to bottom, $blue, $darkblue);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=$blue, endColorstr=$darkblue);
}

input.form-control,select.form-control,textarea.form-control {
  background-color: $darkblue;
  border-color: $brightblue;
  color: #fff;
}

.billboard {
  .wrapper {
    height:100%;
    margin-top:0;
    margin-bottom:0;
  }


  .inside > .wrapper {
    margin-top:0px !important;
  }
}

.inside > .wrapper {
  margin-top:30px;
  @include for-tablet-portrait-up {
    margin-top:15px;
  }
}

.intro {
  display: table;
  text-align: center;
  //@include backgroundShorthand('/files/images/IMG_1497.jpg', center center);
  background-size: cover;
  width: 100%;
  color: #fff;
  @include for-phone-only() {
    margin-top:54px;
  }
  @include for-phone-landscape-only {
    height:67%;
  }
  @include for-phone-portrait-only {
    height:auto;
  }
  @include for-tablet-portrait-up {
    height:100%;
  }
}

.intro-body{
  //display: table-cell;
  //vertical-align: middle;
  /*@include for-phone-portait-only {
    padding-top: 0px;
  }
  @include for-phone-landscape-only {
    padding-top:
  }*/
  /*@include for-tablet-landscape-up {
    vertical-align: inherit;
  }

  @include for-desktop-up {
    vertical-align: inherit;
  }*/
}


.intro-body h1 {
  @include for-phone-only {
    font-size:1.4em;
  }
  @include for-tablet-landscape-up {
    font-size: 4em;
    //margin-top: -8%;
  }
  @include for-desktop-up {
    font-size: 4.6em;
    margin-top: -50px;
    font-weight: bold;
  }
}

#hero .slick-container {
  margin: 0;
  padding: 0;

  figure {
    padding: 0;
  }

  .slick-slide {
    width: 100%;
    height: 100%;
  }
}

.hero,
.jumbotron {
  //background-color: $darkblue !important;
  color: #fff;
}

.jumbotron {
  margin-bottom: 0px !important;
}

header {
  @include for-in-between-phone-and-tablet{
    height:80px;
    background: $blue url(/files/images/bg_page.jpg) center -14px repeat-x;
  }
  @include for-tablet-portrait-up {
    height:80px;
    padding: 0;
    background: $blue url(/files/images/bg_page.jpg) center -14px repeat-x;
    //border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    height:80px;
  }
}

header,
footer,
.navbar-default {
  //background-color: $darkblue !important;
  color: #fff;
}

nav.featured-services {
  display:none;

  @include for-tablet-portrait-up {
    position: absolute;
    display: block;
    top: 90px;
    width: 100%;
    font-size: 2em;
    z-index:2;
  }

  a {
    color: #fff;
  }

  a:hover {
    background-color: $blue;
  }

}

.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: $darkblue;

  @include for-tablet-portrait-up {
    .navbar-custom {
      //padding: 20px 0;
      border-bottom: none;
      letter-spacing: 1px;
      background: transparent;
      /*-webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
      -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
      transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;*/
    }
  }
}


.navbar-custom .navbar-toggle {
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 12px;
}
.navbar-custom .navbar-toggle:focus,
.navbar-custom .navbar-toggle:active {
  outline: none;
}
.navbar-custom .navbar-brand {
  font-weight: 700;
}
.navbar-custom .navbar-brand:focus {
  outline: none;
}
.navbar-custom a {
  color: #D9E6FB;
}
.navbar-custom .nav li a {
  /*-webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;*/
  line-height: 28px;
}
.navbar-custom .nav li a:hover {
  color: rgba(255, 255, 255, 0.8);
  outline: none;
  background-color: transparent;
}
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
  outline: none;
  background-color: transparent;
  color:#FFF200;
}
.navbar-custom .nav li.active {
  outline: none;
  background-color: #09244D;
}
.navbar-custom .nav li.active a {
  //background-color: rgba(255, 255, 255, 0.3);
  color:#FFF200;
  font-weight:bold;
}
.navbar-custom .nav li.active a:hover {
  color: white;
}
.nav > li > a {
  padding: 0px 2px;
  @include for-tablet-landscape-up {
    padding: 0px 15px 0px 15px;
  }
}
.mod_article {
  padding: 20px 0px 20px 0px;
}

#hero .mod_article, #stats .mod_article {
  padding: 0px;
}

//typography
p {
  line-height: 1.5;
  margin-bottom: 20px;
}

h1 {
  color:$lightestblue;
}

h2 {
  color:#FFF200;
  font-size:24px;
}

td {
  padding-bottom: 5px;
}

.modal {
  color: #000;
}

.big-text {
  font-size: $bigtext;
}

.vo-btn {
  padding: 6px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: $blue;
  font-size: 2em;
  font-weight: 700;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  border-radius:40px;

  @include for-phone-only {
    font-size: 18px;
    border-radius: 24px;
    margin-top:5px;
  }

  @include for-tablet-landscape-up {
    padding: 12px;
  }

}

.vo-btn > a, .vo-btn > a:hover, .vo-btn > a:active, .vo-btn > a:visited {
  color: $lightyellow;
  text-decoration: none;
  cursor: pointer;
}

div.static-signage {
  width: 100%;
  height: 100%;
  background: url('/files/images/static-signange.jpg') no-repeat top center;
  background-size: cover;
}

div.digital-signage {
  width: 100%;
  height: 100%;
  background: url('/files/images/digital-signage.jpg') no-repeat top center;
  background-size: cover;
}

div.land-leasing {
  width: 100%;
  height: 100%;
  background: url('/files/images/land-leasing.jpg') no-repeat top center;
  background-size: cover;
}

div.product {
  height:300px;
  margin-left: auto;
  margin-right: auto;
}

div.products-description {
  background-color: rgba(0,0,0,0.6);
  height: 300px;
  display: none;
  color: #fff;
  cursor: hand;
}

div.products-description a.products {
  color: #fff;
  line-height: 300px;
}

.slider-wrapper {
  text-align: center;
}
/*.slider-wrapper > * {
  float:none;
}*/

.baw-slider {
  width:320px;
  margin:5px;
  float:right;
}

.thumbnail {
  max-width: 180px;
}

@include for-tablet-portrait-up {
  .navbar-collapse {
    margin-top:7px;
  }
  .navbar-custom {
    padding: 0px 0px;
    border-bottom: none;
    letter-spacing: 1px;
    background: transparent;
    /*-webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;*/
  }
  .navbar-custom.top-nav-collapse {
    padding: 0;
    background: $blue url(/files/images/bg_page.jpg) center -14px repeat-x;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    height:80px;
  }

  ul.nav{
    text-align: center;
  }

  ul.nav>li {
    //float: left;
    display: inline-block;
  }

  .nav>li {
    position: relative;
    display: block;
  }

  .navbar-brand > img {
    max-height: 50px;
  }
}

agm-map{
  position: absolute;
  @include for-phone-only {
    top:24px;
  }

  @include for-tablet-portrait-up {
    top: 80px;
    height:90%;
  }

  left: 0;
  width:100%;
  height:80%;
}

//google maps
.si-pointer-bg-top {
  border-top-color: #fff !important;
}

.si-content-wrapper {
  /*background-color: #0d3373 !important;*/
  color:#000;
  font-size: 1.2em;

  @include for-phone-only {
    font-size:0.8em;
  }
}

.sidebar {
  .row{
    margin-left: 0px;
    margin-right: 0px;
  }

  color: #fff;
}

.si-content-wrapper {

  .row {
    margin-bottom: 5px !important;
    margin: 0;
  }
  .assets {
    overflow:hidden;
    display:block;
    max-height:229px;
    @include for-phone-portrait-only{
      max-height:200px;
    }
    @include for-phone-landscape-only {
      max-height:50px;
    }
    .image {
      padding: 5px;
      width: 50%;
      height: 100%;
      float: left;
      display: inline-block;
      .gm-style img {
        max-width: 100% !important; //fix the gm-style so we can have responsive-sized images using bootstrap class
      }
    }
  }
}


/*figure {
  padding: 10px;
}*/

footer {
  width:100%;
  background-color: $darkblue;
  text-align: center;
  //background-color: $darkblue;
  color: $lightestblue;
  padding-bottom:15px;
  padding-top:10px;

  @include for-phone-only {
    h4 {
      font-size: 16px;
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }

  @include for-tablet-landscape-up {
    padding-top:10px;
  }

  .logo {
    max-height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

    @include for-phone-only{
      max-height:24px;
      margin-top:10px;
    }
  }
}